#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Exclude .svn directories from packages
export DH_ALWAYS_EXCLUDE=.svn

VERSION=${shell dpkg-parsechangelog | sed -n 's/^Version: *//p'}
MINGW32_PATH=/usr/i586-mingw32msvc

SCONSOPTS = VERSION=$(VERSION) \
  PREFIX=/usr PREFIX_CONF=/etc \
  PREFIX_PLUGINAPI_INC=$(MINGW32_PATH)/include/ \
  PREFIX_PLUGINAPI_LIB=$(MINGW32_PATH)/lib/ \
  CHMDOCS=0 \
  APPEND_CCFLAGS="-Wall -g -O$(if $(findstring noopt,$(DEB_BUILD_OPTIONS)),0,2)" \
  APPEND_LINKFLAGS="-Wall -g -O$(if $(findstring noopt,$(DEB_BUILD_OPTIONS)),0,2)"\
  STRIP_CP=no $(if $(findstring nostripfull,$(DEB_BUILD_OPTIONS)),STRIP_W32=no,)

COMMA := ,

UTILS_ALL = 'Library/LibraryLocal,Library/RegTool,MakeLangId,Makensisw,NSIS Menu,UIs,SubStart,VPatch/Source/GenPat,zip2exe'

IGNORE_UTILS_NSIS  := $(subst Library/LibraryLocal$(COMMA),,$(UTILS_ALL))
IGNORE_UTILS_NSIS   := $(subst $(COMMA)VPatch/Source/GenPat,,$(IGNORE_UTILS_NSIS))
IGNORE_UTILS_CLEAN  := $(subst Library/LibraryLocal$(COMMA)Library/RegTool$(COMMA),,$(UTILS_ALL))
IGNORE_UTILS_CLEAN  := $(subst $(COMMA)UIs,,$(IGNORE_UTILS_CLEAN))
IGNORE_UTILS_COMMON := $(IGNORE_UTILS_CLEAN)
IGNORE_UTILS_CLEAN  := $(subst $(COMMA)SubStart,,$(IGNORE_UTILS_CLEAN))
IGNORE_UTILS_CLEAN  := $(subst $(COMMA)VPatch/Source/GenPat,,$(IGNORE_UTILS_CLEAN))

SCONSOPTS_NSIS   := $(SCONSOPTS) SKIPUTILS=$(IGNORE_UTILS_NSIS) SKIPDOC=COPYING
SCONSOPTS_COMMON := $(SCONSOPTS) SKIPUTILS=$(IGNORE_UTILS_COMMON) \
			SKIPDOC=COPYING
SCONSOPTS_CLEAN  := $(SCONSOPTS) SKIPUTILS=$(IGNORE_UTILS_CLEAN)
SCONSOPTS_TEST   := $(SCONSOPTS) SKIPUTILS=$(IGNORE_UTILS_COMMON)

INSTALL_nsis = install-utils install-compiler install-conf
INSTALL_nsis-common = install-stubs install-plugins install-data install-utils
INSTALL_nsis-pluginapi = install-pluginapi
INSTALL_nsis-docs = install-examples install-doc

define DO_SCONS_INSTALL
	scons $(1) PREFIX_DEST=$(CURDIR)/debian/$(2) $(INSTALL_$(2)) || exit 1;
endef


DEB_HOST_ARCH = $(shell dpkg-architecture -qDEB_HOST_ARCH)
ifeq ($(DEB_HOST_ARCH),i386)
TEST=test
else
TEST=test-scripts
endif

ifneq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
TEST=
endif

clean build:
	dh "$@"

override_dh_auto_clean:
	scons -c $(SCONSOPTS_CLEAN) >/dev/null 2>&1
	-rm -rf .sconf_temp .sconsign.dblite SCons/Tools/crossmingw.pyc build config.log .test
	-rm -f Source/exehead/sconf.h Source/version.h Source/defines.h config.log

build-indep:
	scons $(SCONSOPTS_COMMON) Docs/src stubs plugins utils
	html2text -style pretty -nobs -o "build/README.Modern UI" "Contrib/Modern UI/Readme.html"
	html2text -style pretty -nobs -o "build/README.Modern UI 2" "Contrib/Modern UI 2/Readme.html"
	html2text -style pretty -nobs -o build/README.VPatch Contrib/VPatch/Readme.html
	html2text -style pretty -nobs -o build/README.InstallOptions Contrib/InstallOptions/Readme.html
	html2text -style pretty -nobs -o build/README.MultiUser Contrib/MultiUser/Readme.html
	html2text -style pretty -nobs -o build/README.nsDialogs Contrib/nsDialogs/Readme.html

build-arch:
	scons $(SCONSOPTS_NSIS) utils makensis
	xmlto -o build man debian/makensis.xml
	xmlto -o build man debian/GenPat.xml
	xmlto -o build man debian/LibraryLocal.xml
	html2text -nobs build/*/Docs/html/AppendixF.html | sed -e '0,/^\*\*\*\*\*/c\NSIS Release Notes (automatically converted from AppendixF.html)' -e 's/F\.[.0-9]* //g' -e 's/^\*\*\*\** *\([^*]*\)  *\**\*\*\*/\n\1\n/g' -e '/Changelog/d' -e '/^NSIS_1.x_version_history/,/^=/c\    http://nsis.sourceforge.net/download/nsis1/' -e 's/^\(Released.*\)/    \1\n/g' | cat -s > build/NEWS


test:
	if [ x$(TEST) != x ] ; then \
		if [ -d $(CURDIR)/debian/nsis-common ] ; then \
			scons $(SCONSOPTS_TEST) $(TEST); \
		fi; \
	fi

install-indep:
	dh "install" --before dh_auto_install
	$(foreach p,$(PKGS),$(call DO_SCONS_INSTALL,$(SCONSOPTS_COMMON),$(p)))
	# Fix permissions for plugin API
	find $(CURDIR)/debian/nsis-pluginapi/$(MINGW32_PATH) \
		$(CURDIR)/debian/nsis-common/usr/share/nsis \
		-type f -perm +111 -exec chmod a-x {} \;
	# Clean up examples and documentation
	# The docs file can't seem to have spaces within the file name(s)
	dh_installdocs -pnsis-docs "build/README.Modern UI" \
		"build/README.Modern UI 2"
	rm "debian/nsis-docs/usr/share/doc/nsis/Docs/Modern UI/License.txt"
	rm "debian/nsis-docs/usr/share/doc/nsis/Docs/Modern UI 2/License.txt"
	rm "debian/nsis-docs/usr/share/doc/nsis/Docs/NSISdl/License.txt"
	# Replaces 05_examples_fixes.dpatch
	cd $(CURDIR)/debian/nsis-docs/usr/share/doc/nsis/Examples/Modern\ UI/ ; \
	ls *.nsi | xargs -i{} sed -i -e 's/$${NSISDIR}\\Docs\\Modern UI\\License.txt/'{}/g "{}"

install-arch:
	dh "install" --before dh_auto_install
	$(call DO_SCONS_INSTALL,$(SCONSOPTS_NSIS),nsis)
	find $(CURDIR)/debian/nsis/etc \
		-type f -perm +111 -exec chmod a-x {} \;

override_dh_compress:
	dh_compress -A -X.nsi
	# Replaces 03_docs_fixes
	if [ -d debian/nsis-docs/usr/share/doc/nsis ]; then \
		cd debian/nsis-docs/usr/share/doc/nsis ; \
		find ./ -mindepth 2 -iname \*.gz | \
		sed -e 's_^\./\(.*\)\.gz$$_\1_g' -e 's/ /%20/g' | \
		xargs -i88 sh -c 'fgrep -rl "88\"" . | \
		xargs -i{} sed -i -e "s|88\"|88.gz\"|g" "{}"'; \
	fi

binary-indep: PKGS = $(shell dh_listpackages -i)
binary-indep: build-indep install-indep
	dh "$@"

binary-arch: build-arch test install-arch
	dh "$@"

binary: binary-indep binary-arch

.PHONY: binary binary-arch binary-indep build build-arch build-indep clean install-arch install-indep test
